@charset "utf-8";

/******* Fonts Import Start **********/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/********* Fonts Face CSS End **********/

@media only screen and (max-width: 1068px) {
    body {
        display: none;
    }
}

html {
    scroll-behavior: smooth;
}

body {

    background-color: #000000;
    color: white;

    font-family: 'Quicksand', sans-serif;

}

header {

    display: flex;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 32%, rgba(0,0,0,0) 100%);

    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;

    position: fixed;
    width: 100%;
    z-index: 999;
}

#socials {

    margin-top: 7px;
    margin-left: auto;
    margin-right: 10px;
}

a.social {

    opacity: 1;
    transition: 0.2s ease-in-out opacity;
    margin-right: 20px;
}

a.social:hover {

    opacity: 0.6;
    margin-right: 20px;
    transition: 0.2s ease-in-out opacity;
}

#content {

    position: absolute;
    top: 50%;
    left: 7%;

    animation: slide 1.5s forwards;

}

#whoami {

    font-size: xx-large;
    font-weight: 700;
    margin-left: 50px;
    white-space: nowrap;

}

#left_border{


    border-left: 7px solid rgba(255, 255, 255, 0.521);
    border-radius: 5px;
    width: 30px;

}

#description{

    opacity: 0.6;
    font-size: medium;
    font-weight: 300;
    margin-left: 50px;
    white-space: nowrap;

}

.button_slide {
    color: #FFF;
    border-radius: 0px;
    padding: 9px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;

}

.slide_right:hover {
    box-shadow: inset 400px 0 0 0 #ffffff;
    color: #000000;
}

#slidingReference {

    margin-top: -10px;
    margin-left: 55px;
}

#stillReference {

    text-decoration: none;
    color: #FFFFFF;

}

#stillReference:hover {

    text-decoration: none;
    color: #000000;

}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {

    background-color: #131313;
}

::-webkit-scrollbar-thumb {
    background: rgb(145, 145, 145);
    border-radius: 10px;
}


@keyframes slide {
    0% { 
        
        transform: translateY(500px); 
        opacity: 0;
    
    }

    100% {


        transform: translateY(0px);
        opacity: 1;
    }
}

footer {

    text-align: center;
    opacity: 0.7;
    font-size: 10px;

}

hr {

    margin-left: 2%;
    margin-right: 2%;

    opacity: 0.8;

}

#hrBig {

    border: 2px solid rgba(255, 255, 255, 0.212);
    border-radius: 30px;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body { font-family: sans-serif; }
  

#whoamiDescLeft {

    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 55%;

}

#whoamiPhotos {

    display: inline;
}

b {

    font-weight: 600;
    color: #f8d870;
}

#imgIntro {

    border-radius: 100%;
    margin-left: 15%;
    margin-bottom: -350px;
    margin-top: 30px;
    border: 3px;
    width: 15%;
    height: 40%;
}

#warning {

    color: #f8d870;
    font-weight: 700;
}

h1 {

    font-weight: 800px;
    font-size: x-large;

}

h2 {

    font-weight: 800px;
    font-size: 700;
    text-decoration: underline;

}

#whoamiDescRight {

    display: flex;
    flex-direction: column;
    margin-left: 55%;
    margin-right: 3%;
    margin-top: -200px;
    margin-bottom: 100px;

}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1300px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 50px 50px 0;
  user-select: none;
}

.prev {
    left: 0;
    background-color: rgba(0, 0, 0, 0.205);
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  background-color: rgba(0, 0, 0, 0.205);
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover {

    background-color: #f8d870;
    border-radius: 0 50% 50% 0;

}


.next:hover {
  background-color: #f8d870;
  border-radius: 50% 0 0 50%;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.596);
  border-radius: 50px;
  font-size: 12px;
  padding: 8px 12px;
  margin: 10px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 0 2px;
  background-color: #f8d8709d;
  border-radius: 50%;
  display: inline-block;
  transform: scale(1.0);
  transition: transform 0.2s ease;
}

.active, .dot:hover {
  background-color: #f8d870;
    transform: scale(1.3);
    transition: transform 0.2s ease;
}

/* Fading animation */

.fadeLeft {
    animation-name: fadeLeft;
    animation-duration: .5s;
}

.fadeRight {
    animation-name: fadeRight;
    animation-duration: .5s;
}

@keyframes fadeLeft {
    0% { 
        
        transform: translateX(-200px); 
    
    }

    25% {

        transform: translateX(50px);
    }

    100% {


        transform: translateX(0px);
    }
}

@keyframes fadeRight {
    0% { 
        
        transform: translateX(200px); 
    
    }

    25% {

        transform: translateX(-50px);
    }

    100% {


        transform: translateX(0px);
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

#carouselImg {

    border-radius: 20px;

}

#carouselLogo {

    filter: drop-shadow(5px 5px 2px #000000);
    animation-name: anim_logo;
    animation-duration: .5s;
}

@keyframes anim_logo {

    0% {

        transform: scale(0.5);
        opacity: 0;
    }

    25% {

        transform: scale(1.05);
        opacity: .25;
    }

    100% {

        transform: scale(1.0);
        opacity: 1;
    }

}

#languages {

    text-align: center;
    align-items: center;

}

#languagesList {

    position: relative;
    display: inline-block;
}

#languageImg{

    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    transform: scale(1.0);
    transition: transform ease-in-out 0.2s;
}

#languageImg:hover{

    transform: scale(1.2);
    transition: transform ease-in-out 0.2s;
}

#dot {
    height: 40px;
    width: 1px;
    background-color: #dddddd38;
    border-radius: 2px;
    display: inline-block;
}

#dotSocials {
    height: 30px;
    width: 3px;
    position: relative;
    background-color: #dddddd38;
    border-radius: 2px;
    display: inline-block;
    top: 3px;
    margin-right: 20px;
}

#moreContents {

    text-align: center;
    font-weight: 700;
    font-size: x-large;

}

a {

    color: #FFFFFF;
}


#imgFlag {

    border-radius: 30px;
}

#languages {

    margin-right: 20px;
}

.selected {

    border: 2px solid #ffffff;
}
